langgraph
langchain-core
python-dotenv
pydantic
streamlit
langchain-community
ddgs
numexpr
fastapi
uvicorn
langchain-mcp-adapters
asyncpg
psycopg[binary,pool]
langgraph-checkpoint-postgres
faiss-cpu
pypdf
langchain-openai
